/*css reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
small,
strike,
strong,
b,
u,
i {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  padding-top: 2rem;
}

/*Google Font import*/
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap);

body {
  line-height: 1.75em;
  text-align: center;
  font-size: 1.5rem;
  background: rgb(29, 26, 26)
  /*background: rgb(100, 163, 221) url(https://images.hdqwalls.com/download/rick-and-morty-netflix-2020-9d-1336x768.jpg) center top/cover repeat;*/
}

/* .startPage {
  max-width: 800px;
  width: 100%;
  border: 1px solid rgb(128, 126, 126);
  background: #eee;
  padding: 10px;
} */

h1{
  font-size: 2.4rem;
}

.timer {
  font-size: inherit;
  text-align: center;
}

.divider{
  border-bottom: 1px solid lightgray;
}

.question-window, 
.quiz_stage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button#start{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  text-align: center;
  margin: 0 5px;
  width: 140px;
  background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
  border: top: 1px solid lightgray;
  box-shadow: 0px 3px 5px 1px rgb(128, 126, 126);
}

#question-title{
  font-size: 1rem;
  color: lightslategrey;
}

#question-text{
font-size: 1.7rem;
font-weight: 700;
}

#answer1, 
#answer2, 
#answer3, 
#answer4 {
font-size: 1.2rem;
font-weight: 300;
color: blue
}










.question-window {
width: 640px;
margin: 0 10px 0;
background: #fff;
border-radius: 5px;
}

.question-title{
  font-size: 2.4rem;
  font-weight: normal;
}

.question-text{
  font-size: 2.4rem;
  font-weight: normal;
}


.answer1{
font-size: 2.4rem;
font-weight: normal;

}











.quiz_box .quiz_title {
height: 60px;
width: 100%;
border-bottom: 1px solid lightslategrey
display: flex;
align-items: center;
padding: 0 35px;
font-size: 20px;
font-weight: 600;
}

.question-window .quiz_list{
  padding: 15px 35px;
}

.question-window .quiz_list .quiz_ul {
margin: 5px 0;
font-size: 17px;
}

.question-window .quiz_list .quiz_ul span {
font-weight: 600;
color: rgb(196, 13, 13);

}

.question-window .checkbox {
  border: 3px black;
}

.question-window .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 45px;
  border: top: 1px solid lightslategrey;

} 

.question-window .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border:  1px solid #007bff;
  border-radius: 5px;
  color: #dedede;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;

}

.buttons button.quit {
  color: #dedede;
  border-color: #007bff;

}
.buttons button.start {
  color: #dedede;
  background: #007bff;
}

.quiz_stage{
  width: 550px;
 background: #fff;
  border-radius: 5px;
  }
  
  .quiz_stage header{
  position: relative;
  z-index: 99;
    height: 70px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgb(128, 126, 126);
}
  
.quiz_stage header .title {
font-size: 20px;
font-weight: 600;

}

.quiz_stage header .timer {
display: flex;
align-items: center;
justify-content: space-between;
width: 145px;
height: 45px;
background: cyan;
border: 1px solid #dedede;
border-radius: 5px;
padding: 0 8px;
}

.quiz_stage header .timer .time_clock {
font-weight: 400;
font-size: 17px;
user-select: none;

}
.quiz_stage header .timer .time_seconds {
font-size: 18px;
font-weight: 500;
background: red;
height: 30px;
width: 45px;
color: #fff;
text-align: center;
line-height: 30px;
border-radius: 5px;
border: 1px solid #343a40;

}

.quiz_stage section{
padding: 25px 30px 20px 30px;
background: #fff;
}

.quiz_stage section .que_text{
font-size: 25px;
font-weight: 600;
}

.quiz_stage section .option_list{
padding: 20px 0;
display: block;
}

section .option_list .option {
  font-size: 17px;
  background: aliceblue;
  border: 1px solid #343a40;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

section .option_list .option:hover{

  
}



.option_list .option:last-child{
  margin-bottom: 0px;
}

.option_list .option .icon {


}








/* 
.header {
  font-size: 2.5rem;
  margin: 0 10px 10px;
  font-weight: 700;
}
#content {
  font-size: 1.5em;
  margin: 0 40px 10px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background: #ccc;
  padding: 0 15px;
  width: auto;
}
h2 {
  font: italic bold 1.3em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 15px 15px;
}
input[type="radio"] {
  margin: 0 10px 5px -22px;
}
label {
  margin: 0 0 5px;
}
#score p {
  font-size: 0.95em;
  font-style: italic;
  color: #666;
  float: right;
  margin: 5px 5px 0 0;
}
#score:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#response {
  min-height: 70px;
  margin: 10px;
}
#response h3 {
  font: normal bold 1.2em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px 0;
} */
